docker-compose.yml

# Docs
README.md
setup.md
LICENSE

# Git stuff
.git
.github
.gitignore

# .gitignore
*.pyc
.venv
db.sqlite3
*.sqlite3*
.env
.env.*
data/
exe/
png/
temp_zips/
secret_key
data_*.json
